Divvy bikes is your average bike share company in Chicago, Illinois. Recently, there was a desire to increase the number of bikes in their fleet. This has led to an in-depth look at all factors that could influence the need for more bikes. Seeing how divvy is both customer and subscriber based, I propose switching over to a solely customer-based system to increase ride times, which will ultimately create a need for more bikes.

In order to track this data, each ride will need to be monitored and recorded. We will be monitoring 6,000 rides of both customers and subscribers through the peak summer season. Through this, there shouldbe enough data to get an accurate duration average.

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from scipy import stats
%matplotlib inline

In [25]:
divvy = pd.read_csv('/Users/juliantheriot/downloads/divvy-bike-chicago-2018/Divvy_Trips_2018_Q3.csv', encoding='unicode_escape')
divvy.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,19244622,2018-07-01 00:00:03,2018-07-01 23:56:11,5429,"86,168.0",140,Dearborn Pkwy & Delaware Pl,106,State St & Pearson St,Customer,NaN,NaN
1,19244623,2018-07-01 00:00:13,2018-07-01 00:06:39,93,386.0,153,Southport Ave & Wellington Ave,250,Ashland Ave & Wellington Ave,Subscriber,Male,1986.0
2,19244624,2018-07-01 00:00:15,2018-07-01 00:23:26,2461,"1,391.0",76,Lake Shore Dr & Monroe St,301,Clark St & Schiller St,Subscriber,Female,1987.0
3,19244625,2018-07-01 00:00:25,2018-07-01 00:23:31,2991,"1,386.0",76,Lake Shore Dr & Monroe St,301,Clark St & Schiller St,Subscriber,Male,1986.0
4,19244626,2018-07-01 00:00:27,2018-07-01 00:11:23,2851,656.0,60,Dayton St & North Ave,166,Ashland Ave & Wrightwood Ave,Subscriber,Male,1961.0

In [26]:
divvy.drop(columns=['trip_id','bikeid','from_station_id','from_station_name','to_station_id','to_station_name'], inplace=True)
divvy.head()

,start_time,end_time,tripduration,usertype,gender,birthyear
0,2018-07-01 00:00:03,2018-07-01 23:56:11,"86,168.0",Customer,NaN,NaN
1,2018-07-01 00:00:13,2018-07-01 00:06:39,386.0,Subscriber,Male,1986.0
2,2018-07-01 00:00:15,2018-07-01 00:23:26,"1,391.0",Subscriber,Female,1987.0
3,2018-07-01 00:00:25,2018-07-01 00:23:31,"1,386.0",Subscriber,Male,1986.0
4,2018-07-01 00:00:27,2018-07-01 00:11:23,656.0,Subscriber,Male,1961.0

In [27]:
def is_a_string(x):
    return str(x).isnumeric()
print(divvy.apply(is_a_string))

start_time      False
end_time        False
tripduration    False
usertype        False
gender          False
birthyear       False
dtype: bool

In [28]:
def is_a_string(x):
    return str(x).isalpha()
print(divvy.apply(is_a_string))

start_time      False
end_time        False
tripduration    False
usertype        False
gender          False
birthyear       False
dtype: bool

In [29]:
print(divvy.isnull().sum())

start_time           0
end_time             0
tripduration         0
usertype             0
gender          294996
birthyear       291580
dtype: int64

In [30]:
divvy.drop(columns=['gender', 'birthyear'], inplace=True)
divvy.head()

            start_time             end_time tripduration    usertype
0  2018-07-01 00:00:03  2018-07-01 23:56:11     86,168.0    Customer
1  2018-07-01 00:00:13  2018-07-01 00:06:39        386.0  Subscriber
2  2018-07-01 00:00:15  2018-07-01 00:23:26      1,391.0  Subscriber
3  2018-07-01 00:00:25  2018-07-01 00:23:31      1,386.0  Subscriber
4  2018-07-01 00:00:27  2018-07-01 00:11:23        656.0  Subscriber

In [31]:
divvy.describe()

                 start_time             end_time tripduration    usertype
count               1513570              1513570      1513570     1513570
unique              1282162              1230636        15782           2
top     2018-07-10 17:33:47  2018-09-14 16:47:38        389.0  Subscriber
freq                     10                    9         1536     1140637

In [32]:
divvy['usertype'].value_counts()

Subscriber    1140637
Customer       372933
Name: usertype, dtype: int64

In [33]:
divvy['tripduration'].value_counts()

389.0        1536
408.0        1508
411.0        1501
417.0        1476
365.0        1476
321.0        1475
378.0        1473
319.0        1471
306.0        1471
358.0        1469
398.0        1468
335.0        1464
315.0        1463
380.0        1462
392.0        1460
357.0        1460
418.0        1459
345.0        1458
351.0        1457
394.0        1456
415.0        1454
386.0        1454
375.0        1453
456.0        1452
446.0        1452
421.0        1450
397.0        1449
399.0        1448
377.0        1448
387.0        1447
             ...
17,841.0        1
14,026.0        1
368,190.0       1
20,759.0        1
9,470.0         1
22,902.0        1
15,896.0        1
15,039.0        1
43,171.0        1
17,822.0        1
14,271.0        1
211,367.0       1
11,164.0        1
15,960.0        1
12,421.0        1
80,838.0        1
17,011.0        1
178,025.0       1
12,833.0        1
31,719.0        1
17,848.0        1
17,511.0        1
43,881.0        1
57,883.0        1
22,354.0        1
43,246.0        1
13,433.0        1
13,608.0        1
19,838.0        1
19,711.0        1
Name: tripduration, Length: 15782, dtype: int64

In [34]:
divvy.describe()

                 start_time             end_time tripduration    usertype
count               1513570              1513570      1513570     1513570
unique              1282162              1230636        15782           2
top     2018-07-10 17:33:47  2018-09-14 16:47:38        389.0  Subscriber
freq                     10                    9         1536     1140637

In [35]:
divvy.drop([0])

                  start_time             end_time tripduration    usertype
1        2018-07-01 00:00:13  2018-07-01 00:06:39        386.0  Subscriber
2        2018-07-01 00:00:15  2018-07-01 00:23:26      1,391.0  Subscriber
3        2018-07-01 00:00:25  2018-07-01 00:23:31      1,386.0  Subscriber
4        2018-07-01 00:00:27  2018-07-01 00:11:23        656.0  Subscriber
5        2018-07-01 00:00:35  2018-07-01 00:16:09        934.0  Subscriber
6        2018-07-01 00:00:37  2018-07-01 00:10:14        577.0    Customer
7        2018-07-01 00:00:55  2018-07-01 00:09:20        505.0    Customer
8        2018-07-01 00:01:38  2018-07-01 00:25:25      1,427.0    Customer
9        2018-07-01 00:01:44  2018-07-01 00:25:25      1,421.0    Customer
10       2018-07-01 00:02:03  2018-07-01 00:35:21      1,998.0    Customer
11       2018-07-01 00:02:05  2018-07-01 00:25:18      1,393.0    Customer
12       2018-07-01 00:02:11  2018-07-01 00:38:11      2,160.0    Customer
13       2018-07-01 00:02:02  2018-07-01 00:25:23      1,401.0  Subscriber
14       2018-07-01 00:02:30  2018-07-01 00:08:06        336.0  Subscriber
15       2018-07-01 00:03:05  2018-07-01 00:10:53        468.0  Subscriber
16       2018-07-01 00:03:04  2018-07-01 00:08:43        339.0  Subscriber
17       2018-07-01 00:03:22  2018-07-01 00:06:34        192.0  Subscriber
18       2018-07-01 00:03:34  2018-07-01 00:10:11        397.0  Subscriber
19       2018-07-01 00:04:00  2018-07-01 00:21:54      1,074.0  Subscriber
20       2018-07-01 00:04:17  2018-07-01 00:10:28        371.0  Subscriber
21       2018-07-01 00:04:19  2018-07-01 00:16:13        714.0    Customer
22       2018-07-01 00:04:20  2018-07-01 00:18:58        878.0  Subscriber
23       2018-07-01 00:04:21  2018-07-01 00:33:55      1,774.0    Customer
24       2018-07-01 00:04:30  2018-07-01 00:10:57        387.0  Subscriber
25       2018-07-01 00:04:36  2018-07-01 00:16:13        697.0    Customer
26       2018-07-01 00:04:40  2018-07-01 00:33:28      1,728.0    Customer
27       2018-07-01 00:04:49  2018-07-01 00:33:58      1,749.0    Customer
28       2018-07-01 00:05:11  2018-07-01 01:12:49      4,058.0    Customer
29       2018-07-01 00:05:23  2018-07-01 00:21:06        943.0  Subscriber
30       2018-07-01 00:05:23  2018-07-01 00:22:53      1,050.0  Subscriber
...                      ...                  ...          ...         ...
1513540  2018-09-30 23:30:36  2018-09-30 23:37:02        386.0  Subscriber
1513541  2018-09-30 23:33:21  2018-10-01 00:08:24      2,103.0    Customer
1513542  2018-09-30 23:33:23  2018-09-30 23:38:56        333.0  Subscriber
1513543  2018-09-30 23:33:35  2018-10-01 00:08:19      2,084.0    Customer
1513544  2018-09-30 23:33:33  2018-09-30 23:36:57        204.0  Subscriber
1513545  2018-09-30 23:34:08  2018-10-01 00:07:51      2,023.0    Customer
1513546  2018-09-30 23:34:14  2018-09-30 23:41:18        424.0  Subscriber
1513547  2018-09-30 23:34:26  2018-10-01 00:07:55      2,009.0    Customer
1513548  2018-09-30 23:35:23  2018-09-30 23:38:34        191.0  Subscriber
1513549  2018-09-30 23:37:15  2018-09-30 23:40:20        185.0    Customer
1513550  2018-09-30 23:37:20  2018-09-30 23:48:38        678.0  Subscriber
1513551  2018-09-30 23:38:08  2018-09-30 23:55:28      1,040.0  Subscriber
1513552  2018-09-30 23:38:31  2018-09-30 23:41:00        149.0    Customer
1513553  2018-09-30 23:39:08  2018-09-30 23:51:48        760.0  Subscriber
1513554  2018-09-30 23:39:10  2018-09-30 23:53:23        853.0  Subscriber
1513555  2018-09-30 23:41:15  2018-10-01 00:08:53      1,658.0    Customer
1513556  2018-09-30 23:41:23  2018-10-01 00:09:20      1,677.0    Customer
1513557  2018-09-30 23:41:37  2018-09-30 23:45:39        242.0  Subscriber
1513558  2018-09-30 23:41:39  2018-10-01 00:17:56      2,177.0  Subscriber
1513559  2018-09-30 23:45:25  2018-10-01 00:01:29        964.0    Customer
1513560  2018-09-30 23:46:59  2018-09-30 23:50:23        204.0  Subscriber
1513561  2018-09-30 23:47:23  2018-09-30 23:56:31        548.0  Subscriber
1513562  2018-09-30 23:48:01  2018-09-30 23:51:09        188.0    Customer
1513563  2018-09-30 23:49:46  2018-09-30 23:51:31        105.0  Subscriber
1513564  2018-09-30 23:50:14  2018-09-30 23:59:53        579.0  Subscriber
1513565  2018-09-30 23:50:58  2018-09-30 23:54:09        191.0  Subscriber
1513566  2018-09-30 23:53:22  2018-09-30 23:59:53        391.0    Customer
1513567  2018-09-30 23:54:17  2018-09-30 23:56:01        104.0  Subscriber
1513568  2018-09-30 23:55:36  2018-10-22 17:18:48  1,876,990.0    Customer
1513569  2018-09-30 23:59:17  2018-10-01 00:10:54        697.0  Subscriber

[1513569 rows x 4 columns]

In [36]:
divvy['tripduration'] = divvy['tripduration'].str.replace(',', '').astype('float32')
divvy.head()

            start_time             end_time  tripduration    usertype
0  2018-07-01 00:00:03  2018-07-01 23:56:11       86168.0    Customer
1  2018-07-01 00:00:13  2018-07-01 00:06:39         386.0  Subscriber
2  2018-07-01 00:00:15  2018-07-01 00:23:26        1391.0  Subscriber
3  2018-07-01 00:00:25  2018-07-01 00:23:31        1386.0  Subscriber
4  2018-07-01 00:00:27  2018-07-01 00:11:23         656.0  Subscriber

In [49]:
cust = divvy[divvy['usertype'] == 'Customer'][:6000]
sub = divvy[divvy['usertype'] == 'Subscriber'][:6000]

In [50]:
cust.mean()

tripduration    4756.328613
dtype: float32

In [51]:
sub.mean()

tripduration    1018.899475
dtype: float32

With the averages rolling in, it would seem switching to a customer only based model could be more lucrative. However, to achieve even more accurate averages, it would be in the companies advantage to no only take a larger sample from each of their quarters, but also breaking rides down to certain areas.